body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

.container {
  width: 570px;
  margin: 0 auto;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60px;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0; 
}

.b-bx {
  border-block: 2px #c4c4c4 solid;
  padding-block: 25px;
}

p {
  margin-bottom: 0;
}

.link-to {
  color: #99D930;
  font-weight: 900;
}

.link-to:hover,
.link-to:focus {
  color: #131313;
}

.small-text {
  font-size: 16px;
  margin: 0;
}

.section-a,
.section-b,
.section-c {
  padding-block:100px;
}

.dark-col {
  background-color: #252525;
  color: #fff;
}

.btn-a {
  padding: 15px 40px;
  background-color: #99D930;
  color: #252525;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

.btn-a:focus,
.btn-a:hover {
  background-color:#252525;
  color: #fff;
  transition: 0.5s ease-in;
}